*.log
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

.phpunit.result.cache
.phpactor.json

/.fleet
/.idea
/.vscode
/.zed

/node_modules
/vendor

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

/.tmp
/undefined:

auth.json

Homestead.json
Homestead.yaml
